* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: whitesmoke;
}

header {
  background-color: #000000;
  padding: 10px 0;
  color: white;
  border-radius: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 2200px;
  padding: 0 20px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  flex: 5;
}

.logo {
  margin-left: 20px;
}

.logo p {
  color: antiquewhite;
  text-align: center;
  font-size: 10px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.menu li {
  margin-left: 10px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: 200;
  font-size: 20px;
}

.menu a b:hover {
  color: #0056b3;
}

/* Container for sections */
.container {
  text-align: center;
  margin-top: 30px;
}

h1 {
  color: rgb(0, 0, 0);
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  max-width: 1200px;
  margin: 0 auto; /* Center the grid */
}

.block {
  background-color: #007BFF;
  padding: 40px 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: transform 0.3s, background-color 0.3s;
}

.block-content h2 {
  font-size: 24px;
}

.block:hover {
  background-color: #0056b3;
  transform: translateY(-5px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .grid {
      grid-template-columns: 1fr; /* Single column on smaller screens */
  }

  .block {
      padding: 30px 10px;
  }
}
